<p class="input-group">
    <input type="text"
           id="{{::id}}"
           name="{{::id}}"
           ng-model="model[options.key]"
           class="form-control" 
           datetime-picker="{{to.datepickerOptions.format}}"
           is-open="datepicker.opened"  
           datepicker-options="to.datepickerOptions.date.options" 
           timepicker-options="to.datepickerOptions.time.options"/>
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="datepicker.open($event, prop)"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
</p>
