<!DOCTYPE html>
<html>

<head>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<!-- must appear before formly.js -->
	<script src="bower_components/api-check/dist/api-check.js"></script>
	<script src="bower_components/angular-formly/dist/formly.js"></script>
	<script src="bower_components/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/bootstrap-ui-datetime-picker/dist/datetime-picker.min.js"></script>

	<!-- putting this code inside here increases page loading performance -->
	<script type="text/ng-template" id="datepicker.html">
		<p class="input-group">
			<input type="text" id="{{::id}}" name="{{::id}}" ng-model="model[options.key]" class="form-control" datetime-picker="{{to.datepickerOptions.format}}" is-open="datepicker.opened" datepicker-options="to.datepickerOptions.date.options" timepicker-options="to.datepickerOptions.time.options" />
			<span class="input-group-btn">
		<button type="button" class="btn btn-default" ng-click="datepicker.open($event, prop)"><i class="glyphicon glyphicon-calendar"></i></button>
	</span>
		</p>

	</script>
	<script src="scripts/angular-formly/formlymodule.js"></script>
	<script src="scripts/angular-formly/formlymodule.form.ctrl.js"></script>

	<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<link href="styles/styles.css" rel="stylesheet">
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>

	<div ng-controller="FormCtrl as vm" class="form-panel">
		<form ng-submit="vm.onSubmit()">
			<formly-form model="vm.user" fields="vm.userFields">
				<button type="submit">Submit</button>
			</formly-form>
		</form>

	</div>

</body>

</html>
